---
layout: default

---
<!-- XAI LIB -->
<div class="mt-5 mb-2">
    <h3>Xai Library</h3>
</div>
<div class="bg-full-grey section-alt-grey">
    <div class="container py-5 my-2 ">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ '/assets/img/xai_lib_logo.png' | relative_url }}"
                     alt="Xai library logo"
                     class="img-fluid">

            </div>
            <div class="col-md-6">
                <p>
                    Our Python library designed to develop explainable machine learning models.</p>
                <p>The library provides an integrated pipeline to set up and execute explanation methods for black
                    boxes.
                </p>
                <button class="btn mt-3 ">
                    <a href="{{ '/news/Xai%20Library' | relative_url }}">MORE INFO</a>
                </button>

            </div>
        </div>
    </div>

</div>

<!-- Lore SA -->
<div class="mt-5 mb-2">
    <h3>Lore (Stable and Actionable version)</h3>
</div>
<div class="bg-full-grey section-alt-grey">
    <div class="container py-5 my-2 ">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ '/assets/img/news/lore_tree.png' | relative_url }}"
                     alt="Lore sa image"
                     class="img-fluid">

            </div>
            <div class="col-md-6">
                <p>
                    a local rule-based model-agnostic explanation method providing stable and actionable explanations
                </p>
                <button class="btn mt-3 ">
                    <a href="{{ '/news/LORE%20SA' | relative_url }}">MORE INFO</a>
                </button>

            </div>
        </div>
    </div>

</div>

<!-- ISIC -->
<div class="mt-5 mb-2">
    <h3>ISIC Explanation with ABELE</h3>
</div>
<div class="bg-full-grey section-alt-grey">
    <div class="container py-5 my-2 ">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ '/assets/img/isic_thumb.png' | relative_url }}"
                     alt="Isic image"
                     class="img-fluid">

            </div>
            <div class="col-md-6">
                <p>
                    A dedicated interface for an explainer, based on ABELE, for a black-box to classify instances of
                    skin lesions images. The interface is developed to help physicians in the diagnosis of skin cancer.
                    Following the principles of using multiple explanation methods, after classifying an instance, users
                    are presented with two different explanation methods. A counterexample that shows an image
                    classified differently, and a set of exemplar images with the same classification.</p>
                <button class="btn mt-3 ">
                    <a href="https://kdd.isti.cnr.it/isic_viz"
                       target="_blank">INTERFACE</a>
                </button>
            </div>
        </div>
    </div>

</div>


<!-- Reason X -->
<div class="mt-5 mb-2">
    <h3>ReasonX</h3>
</div>
<div class="bg-full-grey section-alt-grey">
    <div class="container py-5 my-2 ">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ '/assets/img/news/workflow_reason_x.png' | relative_url }}"
                     alt="reasonX image"
                     class="img-fluid">

            </div>
            <div class="col-md-6">
                <p>
                    REASONX offers declarative, interactive explanations for decision trees, which can be either the
                    primary ML models or global/local surrogate models of any black-box model, making it model-agnostic.
                    It can also integrate background or common sense knowledge through linear constraints. Explanations
                    are presented as factual and contrastive rules, as well as the closest contrastive examples
                    optimized via MILP.
                </p>
                <button class="btn mt-3 ">
                    <a href="{{ '/news/ReasonX' | relative_url }}">MORE INFO</a>
                </button>
            </div>
        </div>
    </div>

</div>

<!-- Dr Xai -->
<div class="mt-5 mb-2">
    <h3>Dr Xai</h3>
</div>
<div class="bg-full-grey section-alt-grey">
    <div class="container py-5 my-2 ">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ '/assets/img/dr-xai-logo_white.png' | relative_url }}"
                     alt="DrXai logo"
                     class="img-fluid">

            </div>
            <div class="col-md-6">
                <p>
                    Doctor XAI offers explanations for predicting a patient's next most probable diagnoses
                    based on their recent clinical history. We developed a visual interface utilizing progressive
                    disclosure to present information related to a specific instance being classified and explained.
                </p>
                <button class="btn mt-3 ">
                    <a href="https://kdd.isti.cnr.it/DrXAI-viz"
                       target="_blank">INTERFACE</a>
                </button>
            </div>
        </div>
    </div>

</div>


{% if site.data.repositories.github_repos %}
    <h2 class="my-5">Repositories of selected projects</h2>
    <p class="my-5">The following repositories are related to the projects we are working on.</p>
    <div class="repositories d-flex flex-wrap flex-md-row flex-column justify-content-between align-items-center">
        {% for repo in site.data.repositories.github_repos %}
            {% include repository/repo.liquid repository=repo %}
        {% endfor %}
    </div>
    <hr>
{% endif %}

{% if page.selected_papers %}
    <div class="container my-5">
        <h2>
            <a href="{{ '/publications/' | relative_url }}"
               style="color: inherit">selected publications</a>
        </h2>
        <div class="publications">
            {% bibliography --group_by none --query @*[selected = true]* %}
        </div>
    </div>
{% endif %}

<div class="bg-full section-alt">
    <div class="container py-5 my-2 ">
        <div class="row">
            <div class="col-12">
                <h3>Dissemination toolbox</h3>
                <p>In this page you can find the elements that make up the corporate image of the XAI Project.</p>
            </div>
        </div>
    </div>
</div>
<div class="container mb-4">
    <div class="row justify-content-lg-center">
        <div class="col-lg-12">
            <h4>Logo</h4>
            <p class="mb-5">The official logo of the XAI project is composed of two parts: the project mark and
                the project name. There are also a black and white variant to be used only if the background
                colour on which the logo is to be placed does not allow for adequate legibility.</p>
            <img class="mb-2"
                 src="/assets/img/Xai Logo elements.png"
                 alt="xai logo">
            <hr>
            <div class="row justify-content-lg-center mt-5">
                <div class="col-6">
                    <p>Official Logo</p><img src="/assets/img/xai_logoText_color.png"
                                             alt="xai logo ">
                </div>
                <div class="col-6">
                    <p>Black and white version</p><img src="/assets/img/xai_logoText_black_mask@2x.png"
                                                       alt="xai logo black">
                </div>
            </div>
            <div class="row justify-content-lg-center my-5">
                <div class="col-6">
                    <p>Official Logo - no text</p><img src="/assets/img/xai_logo_color@2x.png"
                                                       alt="xai logo ">
                </div>
                <div class="col-6">
                    <p>Black and white version - no text</p><img src="/assets/img/xai_logo_black@2x.png"
                                                                 alt="xai logo black">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-lg-12 bg-yellow py-3">
            <p class="pt-2 text-center">You can download the complete logo pack at the following link</p>
            <a class="btn btn-block btn-sm btn-outline-black"
               href="/assets/xai_project_logo_pack.zip"
               target="_blank">LOGO PACK</a>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-lg-12 py-3 my-5">
            <hr>
            <br>
            <h4>Typography</h4>
            <p>The font used is Poppins. Please use preferably total black for the body of the text
                (#000000).</p><img src="/assets/img/poppins_font.png">
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-lg-12 mb-5">
            <h4>Colors</h4>
            <h6>Primary colors</h6>
            <p>The official Primary colors of the XAI project are two:</p>
            <div class="row justify-content-lg-center mt-5">
                <div class="col-6">
                    <p>ILLUMINATING YELLOW <strong>#f4dd4d</strong></p><img src="/assets/img/xai_yellow.png">
                </div>
                <div class="col-6">
                    <p>ULTIMATE GREY <strong>#929597</strong></p><img src="/assets/img/xai_grey.png">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-lg-12 mb-5">
            <h6>Suggested support colors</h6>
            <p>The Secondary colors are complementary to our official colors, but are not recognizable
                identifiers for Xai project. Secondary colors should be used sparingly, that is, in less than 10
                percent of the palette in one piece. Use them to accent and support the primary color
                palette.</p>
            <div class="row justify-content-lg-center mt-5">
                <div class="col-2"><img src="/assets/img/a6b1cf.png">
                    <p class="small">#a6b1cf</p>
                </div>
                <div class="col-2"><img src="/assets/img/bfe2e0.png">
                    <p class="small">#bfe2e0</p>
                </div>
                <div class="col-2"><img src="/assets/img/d0deaa.png">
                    <p class="small">#d0deaa</p>
                </div>
                <div class="col-2"><img src="/assets/img/e9dec0.png">
                    <p class="small">#e9dec0</p>
                </div>
                <div class="col-2"><img src="/assets/img/fbdad3.png">
                    <p class="small">#fbdad3</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-lg-12 mb-5">
            <div class="row justify-content-lg-center mt-5">
                <div class="col-6">
                    <p>Light color palette</p><img src="/assets/img/color palette light.png">
                </div>
                <div class="col-6">
                    <p>Dark color palette</p><img src="/assets/img/color palette dark.png">
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-lg-center">
        <div class="col-lg-12 my-5">
            <h4>Acknowledgments</h4>
            <hr>
            <p><strong>XAI</strong> project ack:</p>
            <p>This work is supported by the European Community programme under the funding schemes:
                ERC-2018-ADG G.A. 834756 “XAI: Science and technology for the eXplanation of AI decision
                making”</p>
            <hr>
            <p><strong>SoBigData++</strong> project ack:</p>
            <p>This work is supported by the European Union – Horizon 2020 Program under the scheme
                “INFRAIA-01-2018-2019 – Integrating Activities for Advanced Communities”, Grant Agreement
                n.871042. “SoBigData++: European Integrated Infrastructure for Social Mining and Big Data
                Analytics”.</p>
        </div>
    </div>
</div>